*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.players{
    border: 2px solid rgb(41, 126, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    margin-top: 100px;
}
.players div{
    padding: 15px 25px;
    border: 2px solid white;
}
.player1{
    background-color: rgb(50, 50, 50);
    color: white;
    margin-right: 20px;
}
.player2{
    background-color: rgb(50, 50, 50);
    color: white;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 50px;

}
.cell{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}
.disabled{
    pointer-events: none;
}